<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>17/07/11 15:33:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAndThenDisableCouponAndVerifyCouponsGrid.Create_And_Then_Disable_Coupon_And_Verify_Coupons_Grid_Test(java.util.Hashtable)[pri:0, instance:com.agrostar.crm.pom.testcases.CreateAndThenDisableCouponAndVerifyCouponsGrid@3f6b0be5]">Create_And_Then_Disable_Coupon_And_Verify_Coupons_Grid_Test</td> 
  <td>main@1014982340</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/07/11 15:35:10</td>   <td>73007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAndThenDisableCouponAndVerifyCouponsGrid.quit()[pri:0, instance:com.agrostar.crm.pom.testcases.CreateAndThenDisableCouponAndVerifyCouponsGrid@3f6b0be5]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1014982340</td>   <td></td> </tr>
</table>
